/* || RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a:any-link {
  color: #000;
}


input,
button,
textarea,
label {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONT */
  --FF:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --FONT-COLOR: #000;
  --HEADER-COLOR: #333;
  --HEADER-BGCOLOR: #eee;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: hsl(243, 31%, 25%);
  --LINK-COLOR:hsla(0, 0%, 0%, 0.6);
  --TABLE-COLOR:#eee;

  /* STANDARD PADDING */
  --PADDING: 0.5rem;

  /* STANDARD BORDER */
  --BORDER: 1px solid var(--BORDER-COLOR);

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.2vh, 1.5em);
}

/* || UTILITY */

.offscreen {
  position: absolute;
  left: -10000px;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
html {
  font-family: var(--FF);
  font-size: var(--FS);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow:column nowrap;

}


main{
  flex-grow: 1;
  padding: 1rem;
}

header, main, footer {
  flex-shrink: 1;
}

a:hover,
a:focus {
  color:var(--LINK-COLOR);
}

a:active{
  background-color: black;
  color: white;
}

/* || HEADER */
.header,
.footer {
  position: sticky;
}

.header {
  top: 0;
  z-index: 1;
}
.header__nav {
  border-bottom: var(--BORDER);
  background-color: var(--HEADER-BGCOLOR);
  
  
}


.header__ul {
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  justify-content: space-evenly;
  padding: var(--PADDING);
  
}

.header__ul li {
  list-style-type: none;
  
}

.search__h1 {
  text-align: center;
  padding: var(--PADDING);
  color: #333;
  margin: 1rem 0px;
}

.search__form {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.search__input {
  width: clamp(150px, 300px, 50% );
  box-shadow: 0px 1px 3px var(--BORDER-COLOR);
}

.search__button {
  width: clamp(80px, 20%, 120px);
  background-color: var(--BUTTON-COLOR);
  color: #fff;
}

.search__input,
.search__button {
  border-radius: 5px;
  padding: var(--PADDING);
  border: var(--BORDER);
  margin-bottom: var(--MARGIN);
}


/* || FEATURED BOOKS*/
.featured,
.catalog {
  margin: var(--MARGIN);
}

.featured__h2 {
  border-top: var(--BORDER);
  border-bottom: var(--BORDER);
  padding: var(--PADDING);
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
}

.content-wrapper {
  display: grid;

  grid-template-areas:
    "cover title"
    "cover author";
  margin: var(--MARGIN) 0;
  padding-bottom: 0.5rem;
  border-bottom: var(--BORDER);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  max-height: 250px;
  row-gap: 0.5rem;
  column-gap: 0.2rem;
}

.book-cover {
  grid-area: cover;
  width: 80px;
  background-image: linear-gradient(
    to top,
    rgb(15, 15, 34),
    rgb(116, 116, 121) );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.featured__h3 a{
  grid-area: title;
}

.content-wrapper p {
  grid-area: author;
}

.featured__figcaption {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.featured__figcaption details{
  text-align: justify;
}



/* || BOOK CATALOG */




.catalog__h2 {
  border-top: var(--BORDER);
  padding: var(--PADDING);
}

.catalog-table-wrapper {
  width:100%;
  overflow-x: auto;
}



table,
tr,
th,
td,
caption {
  border: 1px solid black;
  font-size: clamp(0.8rem, 2vh, 1rem);
  border-collapse: collapse;
  padding: 0.5rem;
}

th,
tr:nth-last-child(odd) {
  background-color: var(--TABLE-COLOR);
}

/* || FOOTER */

.footer {
  bottom: 0;
  background-color: #eee;
  border-top: var(--BORDER);
  padding: var(--PADDING);
}

/* || CONTACT */
.contact{
  margin: var(--MARGIN);
 
}

.contact__fieldset {
   border: none;
}

.contact__button{
 padding: 0.5rem;
 border-radius: 10px;
 margin: 1rem 0.5rem 1rem 0;
 background-color: var(--BUTTON-COLOR);
 color: white;
}

/* PERSONAL-INFO */

.personal p{
  margin: 2rem 0;
}
.personal__input,  .personal__label {
  display:block;
  margin: 0.5rem 0;
  width: 75%;
}

.personal__label{
  font-weight: bold;
}

.personal__input, .message__textarea {
  font-size:0.8rem;
  font-weight: lighter;
  border-radius: 8px;
  padding: var(--PADDING);
}

/* FAVORITE BOOK GENRE */

.fav-genre {
  margin-bottom: 1rem;
}

.fav-genre P {
  margin-bottom: 0.5rem;
}

/* || ABOUT */

.about__h1 {
  margin-bottom: 1rem;
}

.about__p {
  line-height: 1.5;
}

/* || MEDIUM */

@media screen and (min-width:992px) {
  .featured__figcaption details{
    width: calc(20ch + 15vw)
  }
}

